node_modules/
web/server/node_modules/
web/server/kampuskart.db
web/server/kampuskart.db-wal
web/server/kampuskart.db-shm
*.log
.env
.DS_Store
web/backend/target/
*.jar
*.jar.original
package-lock.json

# Flutter
mobile/.dart_tool/
mobile/.packages
mobile/.pub/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/*.iml
mobile/.idea/
mobile/.metadata
